{{> head}}
{{> navbar}}

<div class="row">
<div class="col-md-8">
    <img src="/assets/img/bbg.jpg" alt="black-bg" class"img-thumbnail">
</div>

<div class="col-md-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tempora fuga tempore ullam dicta, optio hic quas perspiciatis at eveniet nihil veniam facilis accusantium deleniti dolorem excepturi suscipit exercitationem sunt!</p>
</div>
</div>

{{> footer}}